{% extends 'base.html' %}
{% block title %}
{% if title %}
Ворота.ру - {{title}}
{% else %}
Ворота.ру
{% endif %}
{% endblock %}
{% block content %}
<div class="rolets_title">
    <h1>РОЛЬСТАВНИ</h1>
    <p>НАДЕЖНЫЕ РОЛЬСТАВНИ НА ДВЕРИ И ОКНА ДЛЯ ВАШЕГО ДОМА, МАГАЗИНА ИЛИ ОФИСА</p>
</div>
<div class="rolets-text">
    <h2>Подобрать рольставни от производителя</h2>
    <p>
        Купить рольставни в Москве можно в компании «ВОРОТА RU». Мы предлагаем широкий ассортимент продукции для защиты
        и декорирования окон, а также профессиональные услуги по установке и обслуживанию.
    </p>
    <p>
        Наша компания успешно работает на рынке оконных систем вот уже более 10 лет. За это время нам удалось завоевать
        доверие большого количества клиентов. Ознакомиться с ассортиментом продукции, узнать цены и заказать рольставни
        вы можете на нашем сайте.
    </p>
    <p>
        Являемся официальным дилером производителей рольставен DoorHan, Hormann и Alutech в Москве.
    </p>
</div>
<div class="rolets-foto">
    <img src="../static/img/rolets/r-1.png" alt="">
    <h3>Рольставни для окон</h3>
    <img src="../static/img/rolets/r-2.png" alt="">
    <h3>Гаражные рольставни</h3>
    <img src="../static/img/rolets/r-3.png" alt="">
    <h3>Перфорированные рольставни</h3>
    <img src="../static/img/rolets/r-4.png" alt="">
    <h3>Антивандальные рольставни</h3>
</div>
<div class="rolets-type">
    <h2>Серии рольставен Алютех</h2>
    <div class="rolets-alutech_foto">
        <img src="../static/img/rolets/prest.jpeg" alt="">
        <h2>PRESTIGE</h2>
        <p>Рольставни премиум-качества для эксклюзивных дизайнерских экстерьеров</p>
        <ul class="prestige">
            <li>P1 класс взломостойкости</li>
            <li>Оптимальная защита от ветра</li>
            <li>Перфорированный и неперфорированный профили</li>
            <li>Короба: встроенные, круглые, полукруглые, 20° и 45°</li>
        </ul>
        <img src="../static/img/rolets/tren.jpeg" alt="">
        <h2>TREND</h2>
        <p>Доступное решение с базовыми функциями защиты</p>
        <ul class="trend">
            <li>Базовая антивандальная защита</li>
            <li>Ветровая устойчивость: базовый запас прочности</li>
            <li>Неперфорированный профиль</li>
            <li>Более 7 популярных цветов</li>
            <li>Короба: Встроенные и 45°</li>
        </ul>
        <img src="../static/img/rolets/secur.jpeg" alt="">
        <h2>SECURITY</h2>
        <p>Специальные решения для объектов с высокими требованиями к безопасности</p>
        <ul class="security">
            <li>P3-P5 классы защиты от взлома</li>
            <li>Выдерживают ураганные ветры</li>
            <li>Перфорированный и неперфорированный профили</li>
            <li>Встроенные, круглые, полукруглые, 20° и 45°</li>
        </ul>
    </div>
    <div class="atomatic">
        <h2>Автоматическое управление</h2>
        <p>
            Закажите автоматику, чтобы роллетные системы стали еще более функциональными. Управляйте несколькими
            рольставнями одновременно. Настройте особый график открытия и закрытия роллет.
        </p>
    </div>
    <div class="container-type">
        <h2>Типы защитных коробов рольставен</h2>
        <img src="../static/img/rolets/type-1.jpeg" alt="">
        <p>Защитный круглый короб (роллформинговый, экструдированный)</p>
        <img src="../static/img/rolets/type-2.jpeg" alt="">
        <p>Защитный полукруглый короб (роллформинговый, экструдированный)</p>
        <img src="../static/img/rolets/type-3.jpeg" alt="">
        <p>Защитный короб 45° (роллформинговый)</p>
        <img src="../static/img/rolets/type-3_1.jpeg" alt="">
        <p>Защитный короб 20° (роллформинговый)</p>
        <img src="../static/img/rolets/type-5.jpeg" alt="">
        <p>Встроенный короб серии SB-I</p>
    </div>
</div>
{% endblock %}