{% extends 'base.html' %}
{% block title %}
{% if title %}
Ворота.ру - {{title}}
{% else %}
Ворота.ру
{% endif %}
{% endblock %}
{% block content %}
<div class="rolets_title">
    <h1>РОЛЬСТАВНИ</h1>
    <p>НАДЕЖНЫЕ РОЛЬСТАВНИ НА ДВЕРИ И ОКНА ДЛЯ ВАШЕГО ДОМА, МАГАЗИНА ИЛИ ОФИСА</p>
</div>
<div class="rolets-text">
    <h2>Подобрать рольставни от производителя</h2>
    <p>
        Купить рольставни в Москве можно в компании «ВОРОТА RU». Мы предлагаем широкий ассортимент продукции для защиты
        и декорирования окон, а также профессиональные услуги по установке и обслуживанию.
    </p>
    <p>
        Наша компания успешно работает на рынке оконных систем вот уже более 10 лет. За это время нам удалось завоевать
        доверие большого количества клиентов. Ознакомиться с ассортиментом продукции, узнать цены и заказать рольставни
        вы можете на нашем сайте.
    </p>
    <p>
        Являемся официальным дилером производителей рольставен DoorHan, Hormann и Alutech в Москве.
    </p>
</div>
<div class="rolets-foto">
    <img src="../static/img/rolets/r-1.png" alt="">
    <h3>Рольставни для окон</h3>
    <img src="../static/img/rolets/r-2.png" alt="">
    <h3>Гаражные рольставни</h3>
    <img src="../static/img/rolets/r-3.png" alt="">
    <h3>Перфорированные рольставни</h3>
    <img src="../static/img/rolets/r-4.png" alt="">
    <h3>Антивандальные рольставни</h3>
</div>
<div class="rolets-type">
    <h2>Серии рольставен Алютех</h2>
    <div class="rolets-alutech_foto">
        <img src="../static/img/rolets/prest.jpeg" alt="">
        <h2>PRESTIGE</h2>
        <p>Рольставни премиум-качества для эксклюзивных дизайнерских экстерьеров</p>
        <ul class="prestige">
            <li>P1 класс взломостойкости</li>
            <li>Оптимальная защита от ветра</li>
            <li>Перфорированный и неперфорированный профили</li>
            <li>Короба: встроенные, круглые, полукруглые, 20° и 45°</li>
        </ul>
        <img src="../static/img/rolets/tren.jpeg" alt="">
        <h2>TREND</h2>
        <p>Доступное решение с базовыми функциями защиты</p>
        <ul class="trend">
            <li>Базовая антивандальная защита</li>
            <li>Ветровая устойчивость: базовый запас прочности</li>
            <li>Неперфорированный профиль</li>
            <li>Более 7 популярных цветов</li>
            <li>Короба: Встроенные и 45°</li>
        </ul>
        <img src="../static/img/rolets/secur.jpeg" alt="">
        <h2>SECURITY</h2>
        <p>Специальные решения для объектов с высокими требованиями к безопасности</p>
        <ul class="security">
            <li>P3-P5 классы защиты от взлома</li>
            <li>Выдерживают ураганные ветры</li>
            <li>Перфорированный и неперфорированный профили</li>
            <li>Встроенные, круглые, полукруглые, 20° и 45°</li>
        </ul>
    </div>
    <div class="atomatic">
        <h2>Автоматическое управление</h2>
        <p>
            Закажите автоматику, чтобы роллетные системы стали еще более функциональными. Управляйте несколькими
            рольставнями одновременно. Настройте особый график открытия и закрытия роллет.
        </p>
    </div>
    <div class="container-type">
        <h2>Типы защитных коробов рольставен</h2>
        <img src="../static/img/rolets/type-1.jpeg" alt="">
        <p>Защитный круглый короб (роллформинговый, экструдированный)</p>
        <img src="../static/img/rolets/type-2.jpeg" alt="">
        <p>Защитный полукруглый короб (роллформинговый, экструдированный)</p>
        <img src="../static/img/rolets/type-3.jpeg" alt="">
        <p>Защитный короб 45° (роллформинговый)</p>
        <img src="../static/img/rolets/type-3_1.jpeg" alt="">
        <p>Защитный короб 20° (роллформинговый)</p>
        <img src="../static/img/rolets/type-5.jpeg" alt="">
        <p>Встроенный короб серии SB-I</p>
    </div>
    <div class="discription">
        <h2>Стойкость к корозии</h2>
        <p>
            Для защиты панелей "АЛЮТЕХ" наносят цинковое покрытие(16 мкм), слой грунта(14-16 мкм) и декоративное
            покрытие ПУР-ПА(20-25 мкм)
        </p>
        <h2>Широкая линейка стандартных ролет</h2>
        <p>
            Стандартные ролеты можно встраивать в проёмы от 0,5м до 2м. Доступна высота ролет от 400мм до 3000мм
        </p>
        <h2>Индивидуальный подход</h2>
        <p>
            Возможно изготовление ролет по индивидуальным размерам с шагом 5мм и с индивидуальным подбором комплектации
            под объект
        </p>
    </div>
    <div class="description-result">
        <h2>Популярные готовые решения</h2>
        <p>
            На нашем сайте вы можете оформить заявку на рольставни под заказ или из каталога популярных решений. В
            первом случае вы сами выбираете подходящий цвет и необходимый размер. Продукция из каталога — это полностью
            готовое решение стандартных размеров и цвета, проверенное сотнями покупателей.
        </p>
    </div>
    <div class="result-foto">
        <div class="rolets-description">
            <img src="../static/img/rolets/ст-тренд.jpeg" alt="">
            <h2 class="price">11 320 руб.</h2>
            <h3>Рольставни серии Trend</h3>
            <p>Неперфорированный профиль PD/39N, базовая защита от взлома цвет: белый, 700×2100 мм, с автоматическим
                управлением, накладной монтаж, защитный короб 45°</p>
        </div>
        <div class="rolets-description">
            <img src="../static/img/rolets/ст-престиж.jpeg" alt="">
            <h2 class="price">21 810 руб.</h2>
            <h3>Рольставни серии Prestige</h3>
            <p>
                Перфорированный профиль AR/40 с накладным коробом, стандартная защита от взлома цвет: антрацит,
                2100х1500 мм, с автоматическим управлением, накладной монтаж, защитный короб 45°
            </p>
        </div>
        <div class="rolets-description">
            <img src="../static/img/rolets/ст-секьюрити.jpeg" alt="">
            <h2 class="price">18 240 руб.</h2>
            <h3>Рольставни серии Security</h3>
            <p>
                Противовзломный профиль AER44m/S, максимальная защита от взлома цвет: коричневый 1100х2200 мм с
                автоматическим управлением, встроенный монтаж, защитный короб 45°
            </p>
        </div>
        <div class="rolets-description">
            <img src="../static/img/rolets/ст-тренд-2.jpeg" alt="">
            <h2 class="price">16 110 руб.</h2>
            <h3>Рольставни серии Trend</h3>
            <p>
                Неперфорированный профиль PD/39N, базовая защита от взлома цвет: коричневый, 1800х1500 мм, с
                автоматическим управлением, накладной монтаж, защитный короб 45°
            </p>
        </div>
        <div class="rolets-description">
            <img src="../static/img/rolets/ст-престиж-3.jpeg" alt="">
            <h2 class="price">36 190 руб.</h2>
            <h3>Рольставни серии Prestige</h3>
            <p>
                Неперфорированный профиль AR/40N, стандартная защита от взлома цвет: коричневый 2600х2500 мм, с
                автоматическим управлением, встроенный монтаж, защитный короб 45°
            </p>
        </div>
        <div class="rolets-description">
            <img src="../static/img/rolets/ст-престиж-2.jpeg" alt="">
            <h2 class="price">17 720 руб.</h2>
            <h3>Рольставни серии Prestige</h3>
            <p>
                Перфорированный профиль AR/40, стандартная защита от взлома цвет: шоколадно-коричневый, 1800х1500 мм с
                автоматическим управлением, встроенный монтаж, защитный короб 45
            </p>
        </div>
    </div>
</div>
{% endblock %}